html {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
/*a{*/
    /*text-decoration: none;*/
    /*!*color: #FFFFFF;*!*/
/*}*/

/*------------------------------------------------------------------------------------------------
            HEADER
------------------------------------------------------------------------------------------------*/

header {
    font-family: "Open Sans", sans-serif;
    text-shadow: 2px 2px 15px black;
    background: #232323 url("../images/backgrounds/ocean.jpg") repeat;
    height: 100vh;
    color: #FFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.header_title {
    font-size: 11vw;
    font-weight: 800;
    margin-bottom: 20px;
    margin-top: -20px;
    color: #CCCCCC;
}
.header_title span{
    color: #E4C146;
    font-weight: bolder;
}
.header_arrow {
    font-size: 50px;
    position: absolute;
    margin-left: -30px;
    bottom: 50px;
    left: 50%;
    width: 60px;
    height: 60px;
    transition: 0.1s;
}
.header_arrow:hover{
    font-size: 52px;
    color: #E4C146;
}

/*------------------------------------------------------------------------------------------------
            Footer
------------------------------------------------------------------------------------------------*/

footer {
    border-top: rgba(255, 255, 255, 0.51) dashed 2px;
    position: absolute;
    top: 100%;
    left: 0;
    background:  url("../images/backgrounds/chalkboard.jpg")#232323;
    color: #FFF;
    width: 100%;
    height: 200px;
}
.container{
    position: relative;
    top: 20px;
    left: 10%;
    width: 80%;
    height: 80%;
}
.column1{
    /*background: url("../images/landscape.jpg");*/
    position: absolute;
    top: 0;
    border: rgba(255, 255, 255, 0.5) dashed 1px;
    border-radius: 5px;
    width: 30%;
    height: 100%;
    display: inline-block;
    margin-right: 5%;
}
.column2{
    background: url("../images/other/leafs.jpg");
    position: absolute;
    top: 0;
    left: 35%;
    border: rgba(255, 255, 255, 0.51) dashed 1px;
    border-radius: 5px;
    width: 30%;
    height: 100%;
    display: inline-block;
    margin-right: 5%;
}
.column3{
    position: absolute;
    top: 0;
    left: 70%;
   border: rgba(255, 255, 255, 0.51) dashed 1px;
    border-radius: 5px;
    width: 30%;
    height: 100%;
    display: inline-block;
    /*float: left;*/
    margin-right: 5%;
}
.footer_name{
    font-family: "Roboto", sans-serif;
    text-align: center;
    /*border: white dotted 1px;*/
    font-size: 24px;
    margin-top: 60px;
}
.footer_name span{
    font-weight: bolder;
    color: #E4C146;
}
.footer_social{
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    text-shadow: 1px 1px 15px #232323;
    font-size: 28px;
}
.footer_social-icons{
    background: rgba(35, 35, 35, 0.8);
    margin-top: -5%;
    border: white dashed 1px;
    border-left: none;
    border-right: none;
    text-align: center;
    color: #FFFFFF;
    font-size: 28px;
    box-shadow: 1px 1px 15px #232323;
}
.footer_social-icons a{
    width: 10%;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
}
.footer_social-icons .fa-vk:hover{
    background: rgba(35, 35, 35, 0.9);
    color: #4A76A8;
    transition: 0.2s ease-out;
}
.footer_social-icons .fa-twitter:hover{
    background: rgba(35, 35, 35, 0.9);
    color: #1DA1F2;
    transition: 0.2s ease-out;
}
.footer_social-icons .fa-instagram:hover{
    border-radius: 30px;
    background: radial-gradient(circle at 30% 100%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    transition: 0.2s ease-out;
}
.footer_social-icons .fa-facebook-official:hover{
    background: rgba(35, 35, 35, 0.9);
    color: #6d84b4;
    transition: 0.2s ease-out;
}
.footer_social-icons .fa-linkedin-square:hover{
    background: rgba(35, 35, 35, 0.9);
    color: #0077B5;
    transition: 0.2s ease-out;
}
.footer_social-icons .fa-github:hover{
    background: rgba(35, 35, 35, 0.9);
    color: #b547b1;
    transition: 0.2s ease-out;
}
.buttons{
    height: 100%;
    border: transparent solid 1px;
 }
#button_email {
    position: absolute;
    top: 15%;
    left: 20%;
    width: 60%;
    height: 30%;
    background-color: transparent;
    color: white;
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px 25px;
    display: block;
    border: #CCCCCC solid 2px;
    border-radius: 50px;
    box-shadow: 2px 2px 5px black;
    transition: 0.2s ease-out;
}
#button_email:hover {
    border-color: #E4C146;
    background-color: rgba(255, 220, 80, 0.40);
}
#button_login {
    position: absolute;
    top: 55%;
    left: 20%;
    width:60%;
    height: 30%;
    background-color: transparent;
    color: white;
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
    /*letter-spacing: 2px;*/
    padding: 10px 25px;
    border: #CCCCCC solid 2px;
    border-radius: 50px;
    box-shadow: 2px 2px 5px black;
    transition: 0.2s ease-out;
}
#button_login:hover {
    border-color: #aa0097;
    background-color: rgba(255, 0, 223, 0.33);
}