body{
    font-family: "Open Sans", sans-serif;
    background: #232323 url("../images/backgrounds/kale-salad.jpg") repeat;
}
a {
    text-decoration: none;
    color: #6d84b4;
}
header h1{
    font-size: 64px;
    text-align: center;
    /*text-shadow: 1px 1px 15px rgba(255, 255, 255, 0.51);*/
    color: rgba(0, 0, 0, 0.6);
}
.projects{
    height: 75%;
    margin: 5%;
    background-color: rgba(159, 206, 255, 0.2);
    border: #232323 dotted 1px;
    border-radius: 20px;
    padding-bottom: 50px;
}

.projects li{
    width: 60%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: #232323 solid 1px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;

    /*padding: 10px;*/
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #CCCCCC;
}
.favicon{
    width: 25px;
    height: 25px;
    padding-right: 10px;
}

